.input-with-icon{
    label{
        display: block;
        font-size: 1em;
        text-transform: uppercase;
    }

    .input-and-icon{
        background: #fff;
        padding: 10px 8px;
        .fa{
            font-size: 1.3em;
            opacity: .6;
        }
        input{
            flex: 0 0 95%;
            max-width: 95%;
            border: none;
            outline: none;
            padding: 0 10px;
        }
    }

}