.edit-profile {
  .edit-profile_header {
    font-size: 2.5em;
    font-weight: 900;
    border-bottom: 1px solid #ebebeb;
  }

  .name-and-surname {
    .name,
    .surname {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  .social-links,
  .change-password {
    .social-links_header {
      font-size: 1.6em;
      font-weight: 900;
    }

    .change-password_header {
      font-size: 1.6em;
      font-weight: 900;
    }

    .social-info {
      font-size: 0.9em;
      opacity: 0.8;
    }

    .inputs_container {
      padding: 25px 20px;
      background: #eef1f7;

      .inputs {
        flex-wrap: wrap;

        & > div {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
    }
  }

  .save-changes-btn {
    border: none;
    outline: none;
    background: #195ec8;
    color: #fff;
    font-size: 1em;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 20px;
  }
}

// media queries for devices under 576

@media (max-width: 576px){
  .edit-profile {
    .edit-profile_header {
      padding-bottom: 10px!important;
    }
  
    .name-and-surname {
      flex-wrap: wrap;
      margin-top: 20px!important;
      .name,
      .surname {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
        padding: 0;
      }
    }
  
    .social-links,
    .change-password {
  
      .social-info {
        font-size: 0.9em;
        opacity: 0.8;
      }
  
      .inputs_container {
  
        .inputs {
          flex-wrap: wrap;
  
          & > div {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0!important;
            margin-bottom: 10px;
          }
        }
      }
    }
  
    .save-changes-btn {
      width: 100%;
    }
  }
  
}
